.omiljeni {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-image: linear-gradient(
        -225deg,
        #73c7b5 0%,
        #40a892 48%,
        #2a8773 100%
      );
      height: 100vh;
}

.favoriti {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.podaci {
    border: 1px solid #2f5f4b;
    border-radius: 5px;
    padding: 20px;
    background-color: #c3ebda;
}

